.card {
    /* Dimensões*/
    width: 300px;
    height: 400;

    /* Espaçamento interno */
    padding: 20px;
    /*Estilo de borda */
    border: 1px solid #ccc;
    border-radius: 8px; /*bordas arradondades*/

    /*Sobra*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*Espacamento externo*/
    margin: 20px;
    /*Outro*/
    background-color: #fff;/*cor de fundo do card*/
    overflow: hidden;
    transition: transform 0.2;
}
    .card:hover{
        transform: scale(1.05);
    }
    .imagem {
        width: 100%;
        border-radius: 6px 6px 0 0;
    }

    .titulo{
        font-size: 24px;
        margin-bottom: 10px;
    }
